<li class="my-list__item">
    {{#if isEditing}}
        <form class="my-list__item__form">
            <fieldset>
                <legend>Edit Member</legend>

                <div class="my-list__item__form__item">
                    <label for={{concat uniqueId "_" "first_name"}}>First Name</label>
                    {{input
                        id=(concat uniqueId "_" "first_name")
                        value=person.firstName
                        placeholder="Enter the first name"
                        autofocus=true
                    }}
                </div>

                <div class="my-list__item__form__item">
                    <label for={{concat uniqueId "_" "last_name"}}>Last Name</label>
                    {{input
                        id=(concat uniqueId "_" "last_name")
                        value=person.lastName
                        placeholder="Enter the last name"
                    }}
                </div>

                <div class="my-list__item__form__item">
                    <label for={{concat uniqueId "_" "is_active"}}>Is the member active?</label>
                    {{input
                        id=(concat uniqueId "_" "is_active")
                        type="checkbox"
                        checked=person.isActive
                        placeholder="Is the member active?"
                    }}
                </div>

                <div class="my-list__item__form__item">
                    <label for={{concat uniqueId "_" "is_officer"}}>Is the member an officer?</label>
                    {{input
                        id=(concat uniqueId "_" "is_officer")
                        type="checkbox"
                        checked=person.isOfficer
                        placeholder="Is the member an Officer?"
                    }}
                </div>
            </fieldset>
        </form>

        <button class="my-list__item__button" {{action "saveItem"}}>Save</button>

    {{else}}
        <span data-test-person-name class="my-list__item__attribute my-list__item__attribute-emphasis">{{person.firstName}} {{person.lastName}} {{if person.isOfficer "(Officer)"}}</span>
        <span data-test-person-join-date class="my-list__item__attribute">Join Date: {{person.joinDate}}</span>
        <span data-test-person-is-active class="my-list__item__attribute">Membership Active: {{if person.isActive "Yes" "No"}}</span>

        <button data-test-button class="my-list__item__button" {{action "editItem"}}>Edit</button>

    {{/if}}
</li>